body{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.container{
   
    width:85%;
    height: 100vh;
    background-color:rgb(231, 230, 157);
    text-align: center;

    
}

.choices{
    
    display: flex;
    
    justify-content: space-around;
    
}

.rock{
    width: 10rem;
    height: 10rem;
    margin-left:10em;
}
.paper{
    width: 10rem;
    height: 10rem;
    margin-right: 10rem;
}
.scissors{
    margin-right:10rem;
    margin-left: -10rem;
    height: 25%;
    width:25%
}
.restart-button{
    cursor: pointer;
}
.display-choices{
    display: flex;
    justify-content:center;
}
#uc{
    
    border:solid;
    height: 20px;
    width: 250px;
    
}
#computer-choice{
    
    border:solid;
    height: 20px;
    width: 250px;
}
#round-winner{display: inline-flex;
    justify-content: center;

    border: solid;
    height: 20px;
    width: 250px;
    margin-top: -10px;
}
.scoreboard{
    
    display: flex;
    justify-content: center;
    margin-top: -15px;
}
.user-score{
    border:solid;
    height: 20px;
    width: 250px;

}
.computer-score{
    border:solid;
    height: 20px;
    width: 250px;
}
#reset{
    background-color: rgb(91, 216, 91);
}
/*img{
    padding:1rem;
    border-radius:2px;
    height: 75px;
    width: 75px;
    

}
*/

