body{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:black;
    color:green;

}

.container{
   
    width:85%;
    height: 100vh;
   
    text-align: center;

    
}

.choices{
    display: flex;
    justify-content: center;
    
}

.rock{
    width: 10rem;
    height: 10rem;
    margin-left:10em;
    margin-top: 1.5%;
}
.paper{
    width: 10rem;
    height: 10rem;
    margin-right: 10rem;
    transform:rotate(45deg);
    margin-top: 2%;
}
.scissors{
    margin-right:10rem;
    margin-left: -10rem;
    height: 25%;
    width:25%;
    margin-top:-5%;

  
   
}

.restart-button{
    cursor: pointer;
}
.display-choices{
    display: flex;
    justify-content:center;
}
#uc{
    
    border:solid;
    height: 20px;
    width: 250px;
    
}
#computer-choice{
    
    border:solid;
    height: 20px;
    width: 250px;
}
#round-winner{display: inline-flex;
    justify-content: center;

    border: solid;
    height: 20px;
    width: 250px;
    margin-top: -10px;
}
.scoreboard{
    
    display: flex;
    justify-content: center;
    margin-top: -15px;
}
.user-score{
    border:solid;
    height: 20px;
    width: 250px;

}
.computer-score{
    border:solid;
    height: 20px;
    width: 250px;
}
#reset{
    background-color: green;
}
/*img{
    padding:1rem;
    border-radius:2px;
    height: 75px;
    width: 75px;
    

}
*/

