

.container{
   
    width:85%;
    height: 100vh;
    background-color: blue;
    text-align: center;

    
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    
}
.restart-button{
    cursor: pointer;
}
#user-choice{
    border:solid;
    height: 40px;
    width: 80px;
    
}
#computer-choice{
    border:solid;
    height: 40px;
    width: 80px;
}
#round-winner{
    border: solid;
    height: 40px;
    width: 80px;
}
.scoreboard{
    border: solid;
}
img{
   /* padding:1rem;*/
    border-radius:2px;
    height: 75px;
    width: 75px;
    

}

#uc{
    width: 80px;
    height: 60px;
}
